# Python virtual environment
# This is the folder created by `python -m venv venv`
venv/
.venv/
env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE and editor files
.idea/
.vscode/

# OS-specific files
.DS_Store
._*

# Build and distribution artifacts
build/
dist/
*.egg-info/

# Uvicorn/Starlette temp files
.webassets-cache

# Environment variables
.env

# Generated Artifacts
images/
mock_images/
*.h5
leafcloud-queries.dbcnb
*.db
.coverage
*.log

.docs/
.images_b/
.images_c/

.cropped_dataset_b/
database-query.result
leafcloud2_backup_20260429_024146.sql
leafcloud_regression_model.keras
leafcloud_regression_model_20260429_2254.keras
.leafcloud-queries.dbcnb
.leafcloud_backup_20260414_204522.sql
cropped_dataset/