# Python virtual environment
# This is the folder created by `python -m venv venv`
venv/
.venv/
env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE and editor files
.idea/
.vscode/

# OS-specific files
.DS_Store

# Build and distribution artifacts
build/
dist/
*.egg-info/

# Uvicorn/Starlette temp files
.webassets-cache

# Environment variables
.env

# Generated Artifacts
images/
mock_images/
*.h5
leafcloud-queries.dbcnb
*.db
.coverage
*.log

.coverage.fils-MacBook-Pro_local.pid39722.XZXl0p2x
.docs/
conductor/*
database-query.result
instruction.md
test_ph_raw.pycalibration_config.json
images_b/
images_c/
